html, body {
    overflow-x: hidden;
}
nav div {
    background-color: white;
}
h1, h3 {
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 1.5px 1.5px lightslategray;
}
p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 200;
    font-size: 17px;
}

/********TRAPEZIUM**********/
.trap-img {
    height: 18rem;
    width: 55rem;
    display: inline-block;
    position: absolute;
}
.trap {
    width: 30rem;
    background-color: transparent;
    display: inline-block;
    position: absolute; 
    left: 40rem;
    border-top: 18rem solid #0c0c0c;    
    border-left: 10rem solid transparent;
    box-sizing: content-box;
}

.looking-head {
    position:absolute;
    font-size: 2.5rem;
    top: 10rem;
    left: 3rem;
    color: white;
}

.looking-btn {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 500;
    height: 3.5rem;
    width: 20rem;
    position: absolute;
    top: 15rem;
    left: 3rem;
    background-color: transparent;
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    border: 3.5px solid white;
    border-radius: 5px;
  }

.looking-btn:hover {
    background-color: rgba(43,202,214,0.07);
    color: white;
    border: 3.5px solid white;
}
.login-form {
    position: absolute; 
    left: 58rem;
    top: 8rem;
    width: 20rem;
}
.login-btn {
    background-color: #2bcad6;
    border: none;
}
.login-btn:hover {
    background-color: rgba(43,202,214,0.9);
    border: none;
}

/* **********BENEFITS********* */
.benefit-section {
    position: absolute;
    top: 23.6rem;
    height: 50rem;
    width: 80rem;
    background-color: #060606;
}
.benefit-head {
    position: absolute;
    top: 1rem;
    left: 35rem;
    width: 30rem;
    font-size: 2rem;
    color: white;
}
.ocr-head {
    position: absolute;
    width: 50rem;
    font-size: 1.6rem;
    top: 5rem;
    left: 4rem;
    color: white;
}
.demo-btn {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 23px;
    position: absolute;
    top: 4.5rem;
    left: 55rem;
    width: 17rem; 
    background-color: #060606;
    border: 1px solid white;
}
.demo-btn:hover {
    background-color: #232323;;
    border: 1px solid white;
}
.fa-chevron-right {
    position: relative;
    left: 0.8rem;
    color: #2bcad6;
}
.benefit-img {
    position: relative;
    border-radius: 100%;
    height: 12rem;
    width: 12rem;   
    margin: 40px;
    right: 17px;
}
.row {
    position: absolute;
    top: 6.5rem;
    max-width: 80rem;
}
.feature-box {
    text-align: center;
    color: white;
    padding: 40px;
}
.feature-box p {
    font-size: 15px;
    font-weight: 400;
}
.feature-box h3 {
    font-size: 23px;
}
.talk-div {
    position: absolute;
    top: 37rem;
    color: white;
    font-size: 1rem;
    padding-left: 3rem;
}
.talk-div h1 {
    font-size: 2rem;
    position: relative;
    left: 5rem;
    bottom: 3.5rem;
}
.talk-div p{
    position: relative;
    left: 5rem;
    bottom: 3.5rem;
}
.talk-input {
    height: auto;
    width: auto;
    position: absolute;
    top: 38rem;
    left: 57rem;
}
.talk-input input {
    color: white;
    background-color: #151615;
}
.talk-input input:focus {
    color: white;
    background-color: #151615;
    box-shadow: none;
    border-color: white;
}
.talk-input button {
    border-left: 0;
}
.talk-input button:focus {
    background-color: #151615;
    box-shadow: none;
    border-color: white;
}
.chevron2 {
    position: absolute;
    bottom: 0.6rem;
    left: 0.7rem;
}
.email-btn {
    background-color: #151615;
    border: 1px solid white;
}
.email-btn:hover {
    background-color: #292a2d;
}

/* ***********REVIEWS********** */
.review-section {
    position: absolute;
    height: 31rem;
    width: 80rem;
    background-color: #101010;
    top: 69rem;
}
.list-group {
    position: absolute;
    top: 3rem;
    left: 19rem;
    width: 40rem;
    height: 25rem;
}
.list-group-item {
    background-color: #292a2d;
    color: white;
}
.list-group-item:hover {
    background-color: rgba(41, 42, 45,0.85);
    color: white;
}
.list-h5 {
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 1.5px 1.5px lightslategray;
    position: relative;
    top: 1rem;
    font-size: 2.3rem;
    height: 4rem;
}
.group-head {
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.list-head {
    background-color: #191919;
}
.list-head:hover {
    background-color: #191919;
}
.fa-thumbs-up {
    margin-right: 10px;
}

/* ***********ABOUT************ */
.about-section {
    position: absolute;
    top:100rem;
    width: 80rem;
    height: 20rem;
    background-color: #101010;
    color: white;
}
.about-head {
    position: absolute;
    top: 1rem;
    left: 35rem;
    width: 30rem;
    font-size: 2rem;
    color: white;
}
.about-div {
    text-align: center;
    position: relative;
    left: 20rem;
    top: 4rem;
    background-color: #101010;
    padding: 20px;
    font-size: 1rem;
    width: 40rem;
}

/* *********SIGN UP*********** */
.sign-section {
    position: absolute;
    top: 120rem;
    width: 80rem;
    height: 32rem;
    background-color: #101010;
    color: white;
}
.sign-head {
    position: absolute;
    top: 1rem;
    left: 37rem;
    width: 30rem;
    font-size: 2rem;
    color: white;
}
.sign-form {
    position: absolute;
    top: 3rem;
    left: 28rem;
}
.sign-div {
    margin: 2rem auto;
    width: 25rem;
    color: white;
}
.sign-span {
    background-color: #262525;
    border: none;
}
.sign-input {
    background-color: #262525;
    color: white;
    border: none;
}
.sign-input:focus {
    color: white;
    background-color: #262525;
    box-shadow: none;
    border-color: white;
}
.fa-user, .fa-mail-bulk, .fa-city, .fa-phone-alt     {
    color: white;
}
footer {
    position: absolute;
    width: 78rem;
    height: 4rem;
    top: 150.5rem;
}
.d-flex img {
    margin: 0 0 0 7px;
}
.copyright-span {
    margin-left: 1rem;
    font-size: 0.85rem;
    width: auto;
}
.mx-3 {
    position: relative;
    right: 24rem;
}
.sign-btn {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 25px;
    position: absolute;
    top: 23rem;
    left: 4rem;
    height: 3.5rem;
    width: 17rem; 
    background-color: #262525;
    border: 0;
}
.sign-btn:hover {
    background-color: #262525;;
    border: 0;
    position: absolute;
    top: 22.9rem;
    color: #2bcad6;
    box-shadow: 5px 10px black;
}
.fa-lg {
    margin: 7px;
}
.fa-twitter:hover, .fa-instagram:hover, .fa-facebook:hover {
    color: #292a2d;
}
.group-p {
    font-size: 15px;
}

/* ************ WHITE SPACE :( *********** */
@media only screen and (min-width: 1281px) {
    html {
        overflow-x: scroll;
    }
    .trap {
        width: 40rem;
    }
    .navbar, .benefit-section, .review-section, .about-section, .sign-section, footer {
        width: 90rem;
    }
    .row {
        max-width: 90rem;
    }
    .benefit-head, .about-head, .sign-head {
        left: 42rem;
    }
    .about-div, .list-group {
        left: 27rem;
    }
    .sign-form {
        left: 32.5rem;
    }
    .talk-input, .login-form, .demo-btn {
        left: 63rem;
    }
    .mx-3 {
        right: 32.5rem;
    }
    .fa-lg {
        position: relative;
        right: 3rem;
    }
}
@media only screen and (min-width: 1441px) {
    .trap {
        width: 55rem;
    }
    .navbar, .benefit-section, .review-section, .about-section, .sign-section, footer {
        width: 105rem;
    }
    .row {
        max-width: 105rem;
    }
    .benefit-head, .about-head, .sign-head {
        left: 49.5rem;
    }
    .about-div, .list-group {
        left: 34.5rem;
    }
    .sign-form {
        left: 40rem;
    }
    .talk-input, .login-form, .demo-btn {
        left: 70.5rem;
    }
    .mx-3 {
        right: 40rem;
    }
}
@media only screen and (min-width: 1601px) {
    .trap {
        width: 70rem;
    }
    .navbar, .benefit-section, .review-section, .about-section, .sign-section, footer {
        width: 120rem;
    }
    .row {
        max-width: 120rem;
    }
    .benefit-head, .about-head, .sign-head {
        left: 57rem;
    }
    .about-div, .list-group {
        left: 42rem;
    }
    .sign-form {
        left: 47.5rem;
    }
    .talk-input, .login-form, .demo-btn {
        left: 78rem;
    }
    .mx-3 {
        right: 47.5rem;
    }
}
@media only screen and (min-width: 1761px) {
    .trap {
        width: 85rem;
    }
    .navbar, .benefit-section, .review-section, .about-section, .sign-section, footer {
        width: 135rem;
    }
    .row {
        max-width: 135rem;
    }
    .benefit-head, .about-head, .sign-head {
        left: 64.5rem;
    }
    .about-div, .list-group {
        left: 49.5rem;
    }
    .sign-form {
        left: 55rem;
    }
    .talk-input, .login-form, .demo-btn {
        left: 85.5rem;
    }
    .mx-3 {
        right: 55rem;
    }
}
@media only screen and (min-width: 1921px) {
    .trap {
        width: 100rem;
    }
    .navbar, .benefit-section, .review-section, .about-section, .sign-section, footer {
        width: 150rem;
    }
    .row {
        max-width: 150rem;
    }
    .benefit-head, .about-head, .sign-head {
        left: 72rem;
    }
    .about-div, .list-group {
        left: 57rem;
    }
    .sign-form {
        left: 62.5rem;
    }
    .talk-input, .login-form, .demo-btn {
        left: 93rem;
    }
    .mx-3 {
        right: 62.5rem;
    }
}

/* **********RESPONSIVENESS********* */
@media only screen and (max-width: 576px)
{
    .benefit-3, .benefit-4 {
        visibility: hidden;
    }
}
@media only screen and (max-width: 600px){
    .looking-head {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 1000px) {
    html, body {
        overflow-x: scroll;
    }
    
    .benefit-section {
        height: 80rem;
    }
    .talk-div {
        top: 61rem;
    }
    .talk-input {
        top: 62rem;
    }
    .review-section {
        top: 93rem;
    }
    .about-section {
        top: 124rem;
    }
    .sign-section {
        top: 143rem;
    }
    footer {
        top: 173.5rem;
    }
}

